@font-face {
    font-family: 'CustomFont';
    src: url('/font.otf') format('opentype');
}

body {
    background-color: #282828FF;
    color: #f0f0f0;
    font-family: 'CustomFont', sans-serif;
    margin: 0;
    padding: 5px;
}

.container {
    display: flex;
    align-items: flex-start; /* Align categories at the top */
}

.category {
    width: 150px;
    margin: 4px;
    display: inline-flex; /* Changed to inline-flex */
    flex-direction: column; /* Stack children vertically */
    min-height: 0; /* Allow category to shrink */
}

.category-header {
    background-color: #161616FF;
    padding: 5px;
    text-align: left;
}

.module {
    padding: 5px;
    background-color: #1B1B1BFF;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'CustomFont', sans-serif;
}

.module.enabled {
    background-color: #1B1B1BFF;
}